@tailwind base;
@tailwind components;
@tailwind utilities;

.teamFlags {
  @apply m-auto h-5/6 p-2;
  /* background-color: rgba(9, 2, 24, 0.938); */
  height: 100vh;
  width: 40%;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(243, 237, 237, 0.5);
  border-radius: 30px;
  height: auto;
  width: 2px;
}

.Cf {
  @apply flex justify-around;
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

h3 {
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 770px) {
  .teamFlags {
    width: 90vw;
    height: 95vh;
  }
}

/* landing page design */
.thead {
  display: flex;
  /* padding: auto;
  padding-left: 40px; */
}

.top-container {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(41, 21, 114, 0.73)
    ),
    url("https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  padding: auto;
  /* position: absolute; */
  height: 35vh;
  width: 100vw;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
}

.subContainer {
  /* display: none; */
  margin-top: 50rem;
  background-color: #0406139d;
  height: 35vh;
  position: relative;
  width: 85vw;
  /* padding: 0 5px; */
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.setStoresSection {
  @apply bg-white flex justify-around h-20;
  /* top: auto;
  bottom: auto; */
}

.setStoresSection form {
  display: flex;
  border: 1px solid #0d0d31;
  flex-direction: row;
  width: 90%;
  height: fit-content;
  justify-content: space-between;
  padding-right: 5px;
  position: relative;
  margin: 22px 0;
}

input {
  @apply p-2;
  display: flex;
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  font-size: 12px;
}

.setStoresSection h3 {
  @apply text-blue-950;
}

.teamSection {
  text-align: center;
  color: #fff;
}

.teamSection img {
  width: 5rem;
  height: auto;
  filter: brightness(100%);
  filter: grayscale(20%);
  cursor: pointer;
}

.teams {
  display: flex;
}

/* flags section styes */
.countrySection,
.clubsSection {
  height: 100vh;
  overflow: auto;
}

.countrySection img {
  border-radius: 50px;
  height: auto;
  width: 6rem;
  cursor: pointer;
}

/* h3 {
  text-align: center;
} */

.htext {
  display: flex;
  justify-content: space-around;
}

.clubsSection img {
  /* border: 3px solid red; */
}

/* landing page display section */

.display {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
  color: rgb(4, 4, 19);
  align-items: center;
}

.scores {
  color: #fff;

  font-size: 300%;
  font-weight: bolder;
}

.captureBtn {
  display: flex;
  justify-self: center;
  position: absolute;
  /* width: 10rem; */
  margin: 0 auto;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.captureBtn button {
  /* position: absolute; */
  bottom: 0;
  background-color: #ffffff83;
  padding: 3px;
  margin-right: auto;
  margin-left: 47.5vw;
}

/* displayFlag */

.displayFlag {
  border: 3px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3 ease-in;
}

p {
  color: #8f8a8a;
}

.select {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .displayFlag {
    border: 3px solid #fff;
    height: 80px;
  }

  .clubNames {
    display: none;
  }

  .select p {
    display: none;
  }

  h2 {
    font-size: 20px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

p {
  font-size: 14px;
}
