@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* margin: 0;
  background-image: url(https://cdn.pixabay.com/photo/2018/02/03/15/37/stadium-3127854_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
